.game h1 {
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
}

.score span {
  font-weight: bold;
}


.dica span {
  color: #ecfa00;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border-top: 10px solid rgb(119, 0, 255);
  border-left: 10px solid rgb(119, 0, 255);
  border-bottom: 10px solid rgb(248, 248, 248);
  border-right: 10px solid white;
  display: flex;
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
}

.letrasJogadas{
  font-weight: 800;
  font-family: 'fantasy', sans-serif;
}
.botao_game{
  padding: 15px;
}
.botao_game:hover{
  padding: 15px;
  background-color: #000;
  border: 2px solid white;
}